*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    width: 100%;
    background-color: #232323;
}

main{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2vw 30vw 2vw 30vw;
    border-radius: 3vw;
    background-color: aqua;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 0 7vw 0;
}

.home{
    width: 100%;
    height: 3vw;
    display: flex;
    justify-content: end;
}

.home-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 3vw 0 2vw;
    height: 3vw;
    width: 4vw;
    background-color: rgb(63, 98, 255);
    color: white;
    border: 0;
}

.home-button:hover{
    background-color: rgb(255, 79, 79);
    color: rgb(63, 98, 255);
}

.logoPokemon{
    display: flex;
    margin: -2.5vw 0 0 0;
}

.imagen{
    width: 35vw;
}

.buscador{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 0vw;
}

#suggestionsList {
    list-style: none;
    border-radius: 0.5vw;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    max-height: 100px;
    overflow-y: auto;
    font-size: 1vw;
    margin-top: 3.5vw;
}

#suggestionsList li {
    padding: 8px;
    background-color: white;
    cursor: pointer;
    max-height: 100%;
}

#suggestionsList li:hover {
    background-color: rgb(63, 98, 255);
}

#searchInput{
    top: 0;
    width: 20vw;
    padding: 1vw;
    border-radius: 2vw;
    height: 3vw;
    border: 0;
    outline: none;
}

.search-button{
    position: absolute;
    background-color: rgb(63, 98, 255);
    border-radius: 0 2vw 2vw 0;
    width: 45px;
    height: 100%;
    border: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    color: white;
}

.search-button:hover{
    background-color: rgb(255, 79, 79);
    color: rgb(63, 98, 255);
}

#nombrePokemon{
    text-align: center;
    padding: 2vw 0 0 0;
    font-size: 1.5vw;
}

#imagenPokemon{
    display: flex;
    width: 20vw;
}
